// Colors from https://github.com/nathanbuchar/atom-one-dark-terminal

// One Dark;

$Black:          #1E2127;
$Bright-Black:   #5C6370;
$Red:            #E06C75;
$Bright-Red:     #E06C75;
$Green:          #98C379;
$Bright-Green:   #98C379;
$Yellow:         #D19A66;
$Bright-Yellow:  #D19A66;
$Blue:           #61AFEF;
$Light-Blue:     #61AFEF;
$Magenta:        #C678DD;
$Light-Magenta:  #C678DD;
$Cyan:           #56B6C2;
$Light-Cyan:     #56B6C2;
$White:          #ABB2BF;
$Bright-White:   #FFFFFF;
$Text:           #ABB2BF;
$Bold-Text:      #ABB2BF;
$Selection:      #3A3F4B;
$Cursor:         #5C6370;
$Background:     #1E2127;

// One Light;

$Black:          #000000;
$Bright-Black:   #383A42;
$Red:            #E45649;
$Bright-Red:     #E45649;
$Green:          #50A14F;
$Bright-Green:   #50A14F;
$Yellow:         #986801;
$Bright-Yellow:  #986801;
$Blue:           #4078F2;
$Light-Blue:     #4078F2;
$Magenta:        #A626A4;
$Light-Magenta:  #A626A4;
$Cyan:           #0184BC;
$Light-Cyan:     #0184BC;
$White:          #A0A1A7;
$Bright-White:   #FFFFFF;
$Text:           #383A42;
$Bold-Text:      #A0A1A7;
$Selection:      #3A3F4B;
$Cursor:         #383A42;
$Background:     #F9F9F9